# LLM Provider API Keys
# GEMINI Mandatory for Google Search News and image generation, and defined as fallback for agents inference
GEMINI_API_KEY="your_gemini_api_key"
GEMINI_RESEARCH_MODEL="default_to_gemini-2.5-flash"
GEMINI_IMAGE_MODEL=gemini-2.5-flash-image-preview
GEMINI_MODEL="default_to_gemini-2.5-pro"

# OpenRouter
OPENROUTER_API_KEY="your_openrouter_api_key"
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_MODEL="default_to_openai/gpt-5"



# twitterapi.io API Credentials
X_API_KEY="your_api_key" (from twitterapi.io)
USER_PROXY="the_proxy_to_use_for_x_authentification"
( proxy example: http://username:password@ip:port
You can get proxy from: https://www.webshare.io/?referral_code=s5x49lhr7ck7
Make sure to use high-quality static residential proxies )

# X Credentials
USER_EMAIL="your_X_email"
USER_NAME="your_X_username"
USER_PASSWORD="your_x_password"
USER_TOTP_SECRET="you_X_totp secret"
(you can get it from your profile page,
Security and account access ->  Two-Factor Authentication -> Authentication App -> Can't scan the QR code -> Copy totp Secret Key
-> https://otp6.com/ to get 2FA code in order to confirm the setup)

# AWS S3 Settings for Image Storage (mandatory before posting on X)
AWS_ACCESS_KEY_ID = "your_aws_acces_key_id"
AWS_SECRET_ACCESS_KEY = "your_aws_secret_key_id"
AWS_DEFAULT_REGION = "your_aws_region"
BUCKET_NAME = "your_bucket_name_to_store_images_before_uploading"

# LangSmith API Keys for LLMs tracing (Optional)
LANGSMITH_TRACING=false   # set to true to allow tracing
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY="your_langsmith_api_key"
LANGSMITH_PROJECT=x-automation-agent

# Some default settings (Optional, as we first check for them in the graph state)

# Trend Fetching Settings
TRENDS_WOEID="woeid_default_to_23424819_for_France"
Woeid list: https://gist.github.com/tedyblood/5bb5a9f78314cc1f478b3dd7cde790b9
TRENDS_COUNT="number_of_trends_to_fetch_minimum_and_default_to_30"

# Tweet Search Settings
MAX_TWEETS_TO_RETRIEVE="number_of_tweets_to_retrieve_for_analysis_default_to_20"
TWEETS_LANGUAGE="tweet_language_default_english"

# Content Language
CONTENT_LANGUAGE="final_content_language_default_english"